video {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-title {
    font-size: 1rem;
    letter-spacing: 2px;
}

.text-content {
    font-size: 1.6rem;
}

.text-content-2 {
    font-size: 1.2rem;
}

.full-height {
    height: 100vh;
    display: flex;
    align-items: center;
}

/*----- Team Content Section -----*/

.team-content {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.team-content .team-content-overlay {
    background: #1EB126;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.team-content:hover .team-content-overlay {
    opacity: 1;
}

.team-content-image {
    width: 100%;
}

.team-content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.team-content:hover .team-content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.team-content-details h4 {
    color: #fff;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.team-content-details p {
    color: #fff;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.team-content-info {
    color: #fff;
    font-size: 0.7rem !important;
    line-height: 2;
}

.fadeIn-bottom {
    top: 80%;
}

/*----- Awards Section -----*/
.awards-section-header {
    margin-bottom: 50px;
}

.awards-section-header h1 {
    font-weight: 700;
    color: #1EB126;
}

.awards-section-content p {
    line-height: 1.5rem;
}

.awards-section-content h3 {
    font-weight: 700;
}

.awards-img img {
    height: 150px;
    width: 150px;
}

.service.carousel-item h4,
.service.carousel-item p {
    text-align: left;
}

.service .carousel-item ul {
    text-align: left;
}

.service .carousel-indicators {
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 10px;
    padding-bottom: 8px;
    width: 100%;
}

.service .carousel-indicators .active {
    background: #00bb99;
}

.service .carousel-indicators .active {
    width: 45px;
    height: 5px;
    border: none;
    border-radius: 0px;
}

.service .carousel-indicators li {
    display: inline-block;
    margin: 3px;
    width: 45px;
    height: 5px;
    border: none;
    border-radius: 0px;
    background: #eeeeee;
    text-indent: -999px;
    cursor: pointer;
}


.awards-prev.carousel-control-next,
.awards-prev.carousel-control-prev {
    filter: invert(100%);
}

.awards-prev.carousel-control-prev {
    left: 33% !important;
    top: 110% !important;
}

.awards-prev.carousel-control-next {
    right: unset !important;
    left: 48% !important;
    top: 110% !important;
}

.awards-prev .carousel-control-prev-icon {
    background-image: url(../assets/icons/arrow-slider-left-grey.svg);
    width: 50px;
    height: 50px;
}

.awards-prev .carousel-control-next-icon {
    background-image: url(../assets/icons/arrow-slider-right-grey.svg);
    width: 50px;
    height: 50px;
}

/*----- Our Products Section  -----*/

.product-bg-parallax {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/product-bg/product-bg.jpg) center center no-repeat fixed;
    /* background-attachment: fixed; */
    background-size: cover;
}

.products-section-header {
    padding: 50px 0;
}

.products-section-header h1 {
    font-weight: 700;
    color: #1EB126;
}

.product-card {
    width: 100%;
    background: #fff;
}

.product-slider {
    width: 90%;
    margin: 0px auto;
}


.video-award-slider {
    width: 90%;
    margin: 0px auto;
}

.bg-card {
    background: url(../assets/images/products-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.product-content {
    font-size: 1rem;
    padding: 30px 30px 40px;
}

.product-link {
    padding-top: 20px;
}

.product-link-text {
    background: #1EB126;
    border-radius: 50px;
    border: none;
    padding: 10px 50px;
    font-size: 1.3rem;
}

/*----- Ambassador Section -----*/
.ambassador-container {
    padding: 20px 0;
    width: 100%;
}

.amd-content p {
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    position: relative;
    top: 20px;
}

.amd-portrait {
    margin: auto;
    position: relative;
}

.amd-portrait img {
    /* width: fit-content;
    height: fit-content; */
    width: 190px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.ambassador-section-header h1 {
    font-weight: 700;
    color: #fff;
}

.reward-icon1 {
    width: 160px;
    position: relative;
    top: -45px;
}

.reward-icon2 {
    width: 70px;
    position: relative;
    top: -45px;
}

.reward-icon3 {
    width: 70px;
    position: relative;
    top: -45px;
}

.ribbon-container {
    position: relative;
    top: -40px;
}

.ribbon-container p {
    font-size: 1.4rem;
    font-weight: 200;
}

.ribbon-container button {
    padding: 20px 60px;
}

/*------ Testimonials Section -----*/
.testimonials-section {
    padding: 150px 0px 200px;
    /* height: 100vh;
    display: flex;
    align-items: center; */
}

.testimonials-comment {
    font-family: "Lato", sans-serif;
}

.testimonials-comment span {
    line-height: 2rem;
    font-size: 1rem;
}

.testimonial-img {
    border-radius: 50%;
    width: 250px;
}

.testimonial-prev.carousel-control-prev,
.testimonial-next.carousel-control-next {
    filter: invert(100%);
}

.testimonial-prev .carousel-control-prev-icon {
    background-image: url(../assets/icons/left-arrow.png);
    width: 50px;
    height: 50px;
}

.testimonial-next .carousel-control-next-icon {
    background-image: url(../assets/icons/right-arrow.png);
    width: 50px;
    height: 50px;
}

.address-header img {
    width: 280px;
}

.headquater-content h2 {
    color: #1EB126;
    font-weight: 700 !important;
}

.branch-content h2 {
    color: #1EB126;
    font-weight: 700 !important;
}


.video-award-bg-parallax {
    background: url(../assets/images/video/award/award-img-bg-banner.jpg) center center no-repeat fixed;
    /* background-attachment: fixed; */
    background-size: cover;
}

.videoplay-overlay {
    position: 50%;
    top: 50%;
    left: 50%;
}

/*----- Contact Section -----*/
.contact-vh {
    /* height: 100vh; */
    display: flex;
    align-items: center;
}

.contact-container h1 {
    font-weight: 700 !important;
}

.contact-send-btn {
    padding: 15px 80px;
}

.card-container {
    width: 350px;
}

.modal-dialog {
    top: 15%;
}

@media (max-width: 992px) {
    .team-section {
        height: fit-content;
    }

    .about-us-section {
        height: auto !important;
        padding: 50px 0;
    }

    .caption-head h1 {
        font-size: 3rem;
    }

    .custom-prev.carousel-control-prev {
        left: 25% !important;
        top: 110% !important;
    }

    .custom-prev.carousel-control-next {
        right: unset !important;
        left: 50% !important;
        top: 110% !important;
    }

    .amd-content p {
        font-size: 0.8rem;
    }

    .contact-section {
        height: fit-content;
    }

    .modal-dialog {
        top: 25%;
    }

    .product-slider {
        width: 100% !important;
    }

    .video-award-slider {
        width: 100% !important;
    }

    .awards-section {
        height: auto !important;
        padding: 50px 0;
    }

    .awards-prev.carousel-control-next {
        right: 0% !important;
        left: unset !important;
        top: -5% !important;
    }

    .awards-prev.carousel-control-prev {
        left: 0% !important;
        top: -5% !important;
    }

}

@media (max-width: 767px) {
    .video-award-bg-parallax {
        background-attachment: initial;
    }

    .product-bg-parallax {
        background-attachment: initial;
    }
}